<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}My Books Site{% endblock title %}</title>
</head>
<body>
    {% block content %}{% endblock content %}
</body>
</html>