
 ```{% extends 'books/base.html' %}

{% block title %}{{ block.super }} | {{ book.title}}{% endblock title %}

{% block content %}
  <h1>Title: {{ book.title }}</h1>
  <h2>Publication Date: {{ book.publication_date }}</h2>
  <h2>Publisher: {{ book.publisher }}</h2>
  <h3>Authors</h3>
  <ol>
    {% for author in book.authors.all %}
      <li>{{ author }}</li>
    {% endfor %}
  </ol>
{% endblock content %}